<mat-toolbar>
  <div class="menuItems">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="./home">Home</button>
      <button mat-menu-item routerLink="./tictactoe">Tic Tac Toe</button>
      <button mat-menu-item routerLink="./tictactoeplus" disabled>Tic Tac Toe+</button>
    </mat-menu>
    <span class="header">Projects by KleeKitz</span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>